<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        p {
            font-family : 'Quicksand', sans-serif;
            text-align  : center;
            margin-top  : 200px;
            font-size   : 43px;
        }
    </style>
</head>
<body>
    <p>" Welcome - Selamat Datang - Sugeng Rawuh "</p>
</body>
</html>